<script setup lang="ts">
import { mdiHeartMultiple } from '@mdi/js';
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card
          class="mx-auto"
          max-width="400"
          variant="outlined"
        ><v-img
            src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.6435-9/133943759_2757112241194231_364021884572267922_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGFJUeESq3eG7xXf8WHziy6FMvFro-ZsPgUy8Wuj5mw-PVjXokhThz7vFGL5NgnwZ6wQQXJOOQvmCe3dng8dY8O&_nc_ohc=SmeE73YazXgAX_ryEnd&_nc_ht=scontent.fbkk26-1.fna&oh=00_AfBe_dKfazvEmlKpz6M4AJXE_GuhSLERpCZXgrESNpNaIQ&oe=648BF2D7"
            :width="500"
            aspect-ratio="1/1"
            cover
          ></v-img>
          <v-card-item>
            <div>
              <div class="text-overline mb-1">
                My Profile
              </div>
              <div class="text-h6 mb-1">
                ภควัต ใบทอง
              </div>
              <div class="text-caption">ปัจจุบันศึกษาอยู่ที่มหาวิทยาลัยบูรพา</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>
    <v-row> 
      <v-col>
        <v-card
          class="mx-auto"
          max-width="300"
          variant="outlined"
        ><v-img
            src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t39.30808-6/280458648_1099099137489057_8690688525135227530_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH8HbhVj7LRM7dHG7__EZZ8IfEwqtmmheoh8TCq2aaF6ryxNKZ1jlc4kee3FVcPHxjN8Obbq9Ys1xLKEqYJ16X5&_nc_ohc=iXLEzTXkC-EAX91QPhm&_nc_ht=scontent.fbkk26-1.fna&oh=00_AfBHmJhxhBfWb_DA7CtzGWQSNy4B53rqBK-z3BLKzlHVkA&oe=646A5A3E"
            :width="300"
            aspect-ratio="1/1"
            cover
          ></v-img>
          <v-card-item>
              <div class="text-h6 mb-1">
                โรงเรียนอยุธยาวิทยาลัย
              </div>
              <div class="text-caption">ศึกษาตั่งเเต่มัธยมที่ 4 ถึง 6</div>
          </v-card-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card
          class="mx-auto"
          max-width="300"
          variant="outlined"
        ><v-img
            src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t39.30808-6/320203310_888119185663219_521026037782990454_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFg4FuOjJqcYxzJioBFwtlSvA51c5MIh-a8DnVzkwiH5gZ-uQOYHeXbRxu4NfbVhfvjE4NLkwHHb5T4uqV9WjjU&_nc_ohc=UbJcNo4UlCAAX_VWDAj&_nc_ht=scontent.fbkk26-1.fna&oh=00_AfDg__W65oqcMTMJisofyy0_7tHZw-7yJXvYIgpzyHcVDw&oe=6469580D"
            :width="300"
            aspect-ratio="1/1"
          ></v-img>
          <v-card-item>
            <div>
              <div class="text-h6 mb-1">
                โรงเรียนจิระศาสตร์วิทยาลัย
              </div>
              <div class="text-caption">ศึกษาตั่งเเต่อนุบาล 2 ถึง มัธยมต้นปีที่ 3</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>
    <div><v-card
    class="mx-auto"
    width="550"
  >
  <h1 class="text-center">
    My Interests
    </h1>
    <v-card-text class="text-subtitle-1">
      e-spot | การถ่ายภาพ | การทำอาหาร | การทำDigital Media Production <v-icon :icon="mdiHeartMultiple"/>
    </v-card-text>
  </v-card></div>
    <v-carousel>    
      <v-carousel-item
        src="https://www.pinnacle.com/Cms_Data/Contents/Guest/Media/esports2017/Article-Images/LoL/2020/2020-The-history-of-LoL/article-history-of-lol.jpg"
        cover
      ></v-carousel-item>
      <v-carousel-item
        src="https://upload.wikimedia.org/wikipedia/commons/f/fd/In_The_Midst_%28Unsplash%29.jpg"
        cover
      ></v-carousel-item>
      <v-carousel-item
        src="https://randallbeans.com/wp-content/uploads/2016/11/iStock_58717870_XLARGE-768x513.jpg"
        cover
      ></v-carousel-item>
      <v-carousel-item
        src="https://sulcdn.azureedge.net/content/images/blogs/25509323-film-production.jpg"
        cover
      ></v-carousel-item>
    </v-carousel>
    
</v-container>
  
  
</template>

<style></style>