<template>
  
    <v-layout>
      <v-app-bar  title="Application bar"></v-app-bar>
      <v-navigation-drawer
        expand-on-hover
        rail
      >
        <v-list>
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
            title="Sandra Adams"
            subtitle="sandra_a88@gmailcom"
          ></v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item :prepend-icon="mdiFolder" title="My Files" value="myfiles" to="/my-files-view"></v-list-item>
          <v-list-item :prepend-icon="mdiAccountMultiple" title="My Profile" value="My Profile" to="/my-profile"></v-list-item>
          <v-list-item :prepend-icon="mdiStar" title="Starred" value="starred" to="/starred-view"></v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main style="min-height: 300px;">
        <router-view></router-view>
      </v-main>
    </v-layout>
  
</template>

<script setup lang="ts">
import { mdiAccount,
        mdiClockTimeEightOutline,
        mdiCheckboxMarkedCircle,
        mdiFolder,
        mdiAccountMultiple,
        mdiStar,  } from '@mdi/js'
</script>